
<style>
    .carousel-item img {
        width: 100%; /* 圖片的寬度 */
        height: 200px; /* 圖片的高度 */
        object-fit: cover; /* 等比例調整圖片大小，保持圖片不變形 */
        overflow: hidden; /* 隱藏溢出的部分 */
    }
</style>


<main aria-labelledby="title" >
    <div class="container" >
    <!-- 輪播 (Carousel) -->
    <div class="mb-10" >

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="height: 200px;" >
    <div class="carousel-indicators" >
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" > </button >
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" > </button >
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" > </button >
    </div >
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/lion_tw_b2c/zh-tw/_ModelFile/PrimaryVisual/150504/75ed3b467d02470489673d311da8cad8.jpg" class="d-block w-100" style="max-height: 100%;" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/lion_tw_b2c/zh-tw/_ModelFile/PrimaryVisual/150504/8658d2f8cfb14379a0d54d509bf2c43b.jpg" class="d-block w-100" style="max-height: 100%;" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/lion_tw_b2c/zh-tw/_ModelFile/PrimaryVisual/150504/8658d2f8cfb14379a0d54d509bf2c43b.jpg" class="d-block w-100" style="max-height: 100%;" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" >
    <span class="carousel-control-prev-icon" aria-hidden="true" > </span >
    <span class="visually-hidden" > Previous</span >
    </button >
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" >
    <span class="carousel-control-next-icon" aria-hidden="true" > </span >
    <span class="visually-hidden" > Next</span >
    </button >
    </div >
    </div >
    <!-- 輪播 (Carousel)結束-->
    <br / >
    <div class="row mb-5">
        <h2>熱門推薦</h2>
        <hr>
        <div class="col-md-12 col-lg-6 col-xl-6 mb-4">
            <div class="card"  style="min-height: 5rem ; max-height: 5rem ">
                <div class="card-body" style="overflow: hidden;">
                    <h5 class="card-title">特選曼芭夜未眠</h5>
                    想去泰國旅遊嗎?!跟著我們走就沒錯啦！
                    今天帶著愉快輕鬆的心情，咱們在國際機場集合後，搭乘豪華客機飛往素有微笑王國之稱的泰國首都【曼谷】。當地接待的導遊帥哥或美女們已經等候各位嘉賓多時，不囉唆~拿著行李趕快跟著將與我們相處這幾天的導遊帥哥或美女他們走吧！
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 mb-4">
            <div class="card" style="min-height: 5rem ; max-height: 5rem ">
                <div class="card-body" style="overflow: hidden;">
                    <h5 class="card-title">漫活泰國</h5>
                    『曼谷』∼名為天使之都，同時也是泰國的首都，兼具古老氣息和現代風情，保存了文化傳承與遺風。即使置身在活躍進步的現代化世界之中，曼谷卻依然奇蹟似地清晰，豐富的觀光文化與完整軟硬體資源，更讓曼谷一直成為亞洲最佳的旅遊城市，更得到了東方威尼斯的美名。
                </div>
            </div>
        </div>
    </div>

        <div class="row mb-5">
            <h2>FUN泰系列</h2>
            <hr>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card" style="width: 18rem; min-height: 30rem ;max-height: 30rem ">
                    <img style="min-height: 200px; min-width: 200px; object-fit: cover;" src="https://static.liontech.com.tw/cmspic/PIC1801-006299/M_PIC1801-006299.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="overflow: hidden;">
                        <p class="card-text"> 位於BTS Nana站附近的曼谷五星級飯店Hyatt Regency Bangkok Sukhumvit 泰國曼谷素坤逸凱悅酒店，是Hyatt集團於2018年底開幕飯店，也是Hyatt集團較高等級的飯店品牌，其交通相當方便，不只房間舒適，飯店裡面還有多家餐廳及設施∼無邊際泳池、24小時健身房、29樓高空酒吧等...就算待在飯店一整天也不無聊。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card" style="width: 18rem; min-height: 30rem ;max-height: 30rem ">
                    <img style="min-height: 200px; min-width: 200px; object-fit: cover;" src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/preview/7746d6e4-afba-41f9-8d82-8f011d1850ac/7746d6e4-afba-41f9-8d82-8f011d1850ac/_ModelFile/PictureAndText/1969201/74aab6816c7449eea1b2ade53ca6aa1c.jpg?fr=pd28034C0501C0502M01" class="card-img-top" alt="...">
                    <div class="card-body" style="overflow: hidden;">
                        <p class="card-text"> 曼谷金普頓酒店於2020年10月開幕營業，成為洲際酒店集團旗下金普頓品牌在泰國第一間據點。金普頓向來採用活潑大膽且風格各異的設計，聯合知名廚師推出特色餐點，以及寵物入住友善政策與精緻服務品質。公共空間面對著綠色花園與森林，無論是從事運動或享受美食及飲料，都能感受到滿滿的綠意盎然，特別是無邊際泳池更是擁有綠意無限的遼闊景觀。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card" style="width: 18rem; min-height: 30rem ;max-height: 30rem ">
                    <img style="min-height: 200px; min-width: 200px; object-fit: cover;" src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/preview/7746d6e4-afba-41f9-8d82-8f011d1850ac/7746d6e4-afba-41f9-8d82-8f011d1850ac/_ModelFile/PictureAndText/1969201/74aab6816c7449eea1b2ade53ca6aa1c.jpg?fr=pd28034C0501C0502M01" class="card-img-top" alt="...">
                    <div class="card-body" style="overflow: hidden;">
                        <p class="card-text"> 曼谷金普頓酒店於2020年10月開幕營業，成為洲際酒店集團旗下金普頓品牌在泰國第一間據點。金普頓向來採用活潑大膽且風格各異的設計，聯合知名廚師推出特色餐點，以及寵物入住友善政策與精緻服務品質。公共空間面對著綠色花園與森林，無論是從事運動或享受美食及飲料，都能感受到滿滿的綠意盎然，特別是無邊際泳池更是擁有綠意無限的遼闊景觀。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card" style="width: 18rem; min-height: 30rem ;max-height: 30rem ">
                    <img style="min-height: 200px; min-width: 200px; object-fit: cover;" src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/preview/7746d6e4-afba-41f9-8d82-8f011d1850ac/7746d6e4-afba-41f9-8d82-8f011d1850ac/_ModelFile/PictureAndText/1969201/74aab6816c7449eea1b2ade53ca6aa1c.jpg?fr=pd28034C0501C0502M01" class="card-img-top" alt="...">
                    <div class="card-body" style="overflow: hidden;">
                        <p class="card-text"> 曼谷金普頓酒店於2020年10月開幕營業，成為洲際酒店集團旗下金普頓品牌在泰國第一間據點。金普頓向來採用活潑大膽且風格各異的設計，聯合知名廚師推出特色餐點，以及寵物入住友善政策與精緻服務品質。公共空間面對著綠色花園與森林，無論是從事運動或享受美食及飲料，都能感受到滿滿的綠意盎然，特別是無邊際泳池更是擁有綠意無限的遼闊景觀。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card" style="width: 18rem; min-height: 30rem ;max-height: 30rem ">
                    <img style="min-height: 200px; min-width: 200px; object-fit: cover;" src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/preview/7746d6e4-afba-41f9-8d82-8f011d1850ac/7746d6e4-afba-41f9-8d82-8f011d1850ac/_ModelFile/PictureAndText/1969201/74aab6816c7449eea1b2ade53ca6aa1c.jpg?fr=pd28034C0501C0502M01" class="card-img-top" alt="...">
                    <div class="card-body" style="overflow: hidden;">
                        <p class="card-text"> 曼谷金普頓酒店於2020年10月開幕營業，成為洲際酒店集團旗下金普頓品牌在泰國第一間據點。金普頓向來採用活潑大膽且風格各異的設計，聯合知名廚師推出特色餐點，以及寵物入住友善政策與精緻服務品質。公共空間面對著綠色花園與森林，無論是從事運動或享受美食及飲料，都能感受到滿滿的綠意盎然，特別是無邊際泳池更是擁有綠意無限的遼闊景觀。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card" style="width: 18rem; min-height: 30rem ;max-height: 30rem ">
                    <img style="min-height: 200px; min-width: 200px; object-fit: cover;" src="https://static.liontech.com.tw/ConsoleAPData/PublicationStatic/preview/7746d6e4-afba-41f9-8d82-8f011d1850ac/7746d6e4-afba-41f9-8d82-8f011d1850ac/_ModelFile/PictureAndText/1969201/74aab6816c7449eea1b2ade53ca6aa1c.jpg?fr=pd28034C0501C0502M01" class="card-img-top" alt="...">
                    <div class="card-body" style="overflow: hidden;">
                        <p class="card-text"> 曼谷金普頓酒店於2020年10月開幕營業，成為洲際酒店集團旗下金普頓品牌在泰國第一間據點。金普頓向來採用活潑大膽且風格各異的設計，聯合知名廚師推出特色餐點，以及寵物入住友善政策與精緻服務品質。公共空間面對著綠色花園與森林，無論是從事運動或享受美食及飲料，都能感受到滿滿的綠意盎然，特別是無邊際泳池更是擁有綠意無限的遼闊景觀。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main >