@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>賴彥江 </h3>
    <h4>LAI YEN-CHIANG</h4>

    <p>software engineer</p>

    <div>
        <strong>Phone:</strong>
        <span>0982972641</span>
    </div>
    <div>
        <strong>Gmail:</strong>
        <a href="mailto:xfjioyhnplus@gmail.com">xfjioyhnplus@gmail.com</a>
    </div>


</main>