@{
    ViewBag.Title = "Home Page";
}

<main>
    @if (@ViewBag.Message != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message
        </div>
    }
        <div style="display: flex; align-items: center;">
            <div class="px-4 py-5 my-5 text-center" style="flex: 8;  ">
                <h1 id="title">記錄生活點滴的創作平台</h1>
                <p class="lead">一杯豆漿的時間，記錄下你的生活點滴。</p>
                <p><a type="button" class="m-3 btn btn-primary btn-md" href="@Url.Action("LoginPage", "Member" )">立刻登入&raquo;</a></p>
            </div>
            <div class="px-4 py-5 my-5 text-center" style="flex: 4;">
                <div class="material-symbols-outlined" style="font-size: 150px;"> emoji_objects </div>
                <div class="material-symbols-outlined" style="font-size: 150px;"> draw  </div>
                <div class="material-symbols-outlined" style="font-size: 150px;"> local_cafe  </div>
            </div>
        </div>

</main>